# <span style="font-family: Times New Roman;">Table of Contents</span>

- <span style="font-family: Times New Roman;">[What is Pandas?](#1)</span>

## <span style="font-family: Times New Roman;">What is Pandas?</span> <a id='1'></a>

<p style="font-family: Times New Roman"> In pandas, a <strong>DataFrame</strong> is a two-dimensional labeled data structure, similar to a table or spreadsheet. It consists of rows and columns, where each column can have a different type of data (integer, float, string, etc.).
<br><br>Pandasâ€™ functionality includes data transformations, like sorting rows and taking subsets, to calculating summary statistics such as the mean, reshaping DataFrames, and joining DataFrames together</p>

In [2]:
# Importing pandas
import pandas as pd

<p style="font-family: Times New Roman"><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#" <strong>Creating basic DataFrame</strong></a></p>

In [4]:
data = {
    'Name': ['John', 'Emma', 'Alex'],
    'Age': [28, 24, 32],
    'City': ['New York', 'San Francisco', 'Seattle']
}

df = pd.DataFrame(data=data)
df

   Name  Age           City
0  John   28       New York
1  Emma   24  San Francisco
2  Alex   32        Seattle

In [8]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                   columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9